<section class="exercises-page-section section">
    <div class="container">

        <div class="section-exercises-title">
            <h2 class="exercises-title">Exercises</h2>
            <h2 class="exercise-title visually-hidden">/</h2>
            <h2 class="exercises-subtitle"></h2>
        </div>

        <div class="section-exercises-filters-search">
            <ul class="list-filters">
                <li class="list-filters-item">
                    <button class="btn-filter current-btn">Muscles</button></li>
                <li class="list-filters-item">
                    <button class="btn-filter">Body parts</button></li>
                <li class="list-filters-item">
                    <button class="btn-filter">Equipment</button></li>
            </ul>

            <form class="form-search-exercises visually-hidden">
                <input
                    type="text"
                    class="form-search-exercises-input"
                    name="search"
                    autocomplete="on"
                    placeholder="Search"
                />
                    <svg
                    class="form-search-exercises-icon"
                    width="18"
                    height="18">
                    <use href="../images/sprite.svg#icon-search"></use>
                    </svg>
            </form>
        </div>
    </div>


        <ul class="cards-workout-list">
            <li class="card-workout-item">

                <!--------- workout - rating - btn start -------->

                <div class="card-workout-box">
                    <svg class="workout-svg" style="display: inline-block; vertical-align: middle;">
                    <ellipse rx="100" ry="50" fill="#7E847F" cx="50%" cy="50%" />
                    <text class="workout-svg-text" x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">
                        <tspan dy="0.2em" x="50%">WORKOUT</tspan>
                    </text>
                </svg>
                    <div class="card-workout-rating">
                    <p class="card-workout-rating-text">4.0</p>
                    <svg
                        class="card-workout-rating-icon"
                        width="18"
                        height="18"
                    >
                        <use href="../images/sprite.svg#icon-Star-1"></use>
                    </svg>
                    </div>
                
                    <div class="card-workout-start">
                        <button class="btn-start-workout">
                                <span class="btn-start-workout-text">Start</span>
                                <span class="btn-start-icon">
                                    <svg class="card-workout-start-icon"
                                        width="16"
                                        height="16"
                                        >
                                        <use href="../images/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                
                        </button>
                    </div>
                </div>

                <!--------- cards - workout - title -------->
                <div>
                    <div class="card-workout-title">
                        <div class="card-workout-title-icon-box">
                            <svg
                            class="card-workout-title-icon"
                            width="24"
                            height="24">
                            <use href="../images/sprite.svg#icon-human"></use>
                            </svg>
                        </div>
                        <p class="card-title-text">Air bike</p>
                    </div>
                </div>

                <!-- info about calories - body part - target -->
                <div class="card-workout-info">
                    <div class="card-workout-info-block">
                        <p class="card-workout-info-list">Burned calories:</p>
                        <div class="card-workout-info-data">312 / ...</div>
                    </div>
                    <div class="card-workout-info-block">
                        <p class="card-workout-info-list">Body part:</p>
                        <div class="card-workout-info-data">Waist</div>
                    </div>
                    <div class="card-workout-info-block">
                        <p class="card-workout-info-list">Target:</p>
                        <div class="card-workout-info-data">Abs</div>
                    </div>
                </div>
            </li>
        </ul>  
</section>

