<section class="exercises-page-section">
  <div class="container">
    <div class="exercises-page-container">
      <h2 class="exercises-page-title">Exercises</h2>
      <div class="buttons-filter-container">
        <button class="active" data-filter="Muscles">Muscles</button>
        <button data-filter="Body20%parts">Body parts</button>
        <button data-filter="Equipment">Equipment</button>
      </div>
      <ul class="exercises-list">
        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Calves.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">calves</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>

        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Spine.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">spine</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>

        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Adductors.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">adductors</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>

        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Hamstrings.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">hamstrings</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>

        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Quads.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">quads</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>

        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Triceps.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">triceps</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>

        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Levator_Scapulae.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">levator scapulae</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>

        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Abductors.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">abductors</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>
        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Abductors.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">abductors</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>
        <li
          class="exercises-list-card"
          style="
            background: linear-gradient(
                0deg,
                rgba(16, 16, 16, 0.7) 0%,
                rgba(16, 16, 16, 0.7) 100%
              ),
              url(https://ftp.goit.study/img/energy-flow/Abductors.webp);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="exercise-card-desc">
            <h3 class="exercise-card-desc-name">abductors</h3>
            <p class="exercise-card-desc-filter">Muscles</p>
          </div>
        </li>
      </ul>
      <div class="pagination-exercises-box">
        <button class="active">1</button>
        <button>2</button>
      </div>
    </div>
  </div>
</section>
