<div class="ex-backdrop">
  <div class="ex-modal">
    <button class="ex-close-btn">
      <svg
        class="ex-close-btn-icon"
        width="24"
        height="24"
        aria-label="close icon"
      >
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="exercise-gif">
      <img src="" class="gif-ex" width="295" height="258" alt="show exercise" />
    </div>
    <div class="ex-content-container">
      <h2 class="exercise-name">Air bake</h2>
      <p class="ex-current-rating">4.0</p>
      <ul class="ex-stars-list">
        <li>
          <svg
            class="ex-rate-icon"
            width="18"
            height="18"
            aria-label="rating icon"
          >
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li>
          <svg
            class="ex-rate-icon"
            width="18"
            height="18"
            aria-label="rating icon"
          >
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li>
          <svg
            class="ex-rate-icon"
            width="18"
            height="18"
            aria-label="rating icon"
          >
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li>
          <svg
            class="ex-rate-icon"
            width="18"
            height="18"
            aria-label="rating icon"
          >
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li>
          <svg
            class="ex-rate-icon"
            width="18"
            height="18"
            aria-label="rating icon"
          >
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
        </li>
      </ul>

      <hr class="decorate-line" />

      <div class="ex-information">
        <div class="ex-block">
          <span class="ex-value">Targer</span>
          <span class="ex-label ex-target">Abs</span>
        </div>
        <div class="ex-block">
          <span class="ex-value">Body part</span>
          <span class="ex-label ex-body-part">Waist</span>
        </div>
        <div class="ex-block">
          <span class="ex-value">Equipment</span>
          <span class="ex-label ex-equipment">Body weight</span>
        </div>
        <div class="ex-block">
          <span class="ex-value">Popular</span>
          <span class="ex-label ex-popular">150</span>
        </div>
        <div class="ex-block">
          <span class="ex-value">Burned Calories</span>
          <span class="ex-label ex-burned-calories">323/ 3min</span>
        </div>

        <hr class="decorate-line" />

        <p class="ex-description">
          This refers to your core muscles, which include the rectus abdominis,
          obliques, and transverse abdominis. They're essential for maintaining
          posture, stability, and generating force in many movements. Exercises
          that target the abs include crunches, leg raises, and planks.
        </p>

        <div class="ex-buttons-container">
          <button class="ex-add-favorities">
            Add to favorities
            <svg
              class="heart-svg"
              width="18"
              height="18"
              aria-label="favorites icon"
            >
              <use href="./images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <button class="ex-rating-button">Give a rating</button>
        </div>
      </div>
    </div>
  </div>
</div>
