<div class="favorites-container-card">
    <h2 class="favorites-container-title">Favorites</h2>
    <ul class="favorites-container-list">
        <li class="favorites-container-list-item">
            <svg></svg>
            <button class="favorites-container-list-button" type="button">Start</button>
            <svg></svg>
        </li>
        <div class="favorites-container-card-text">
            <ul class="favorites-container-card-text-list">
                <li class="favorites-container-card-text-item">
                    <p class="favorites-container-card-text-block">Burned calories:</p>
                    <p class="favorites-container-card-text-block">Body part:</p>
                    <p class="favorites-container-card-text-block">Target:</p>
                </li>
            </ul>
        </div>
    </ul>
</div>