<section class="section footer">
  <div class="container">
    <div class="footer-container">
      <div class="foter-link-and-social-div">
        <a class="footer-logo-link" href="index.html">energy.flow</a>
        <ul class="footer-social-media-list">
          <li class="footer-social-media-item">
            <a
              class="footer-social-media-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="footer-social-media-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-media-item">
            <a
              class="footer-social-media-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              ><svg class="footer-social-media-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-media-item">
            <a
              class="footer-social-media-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              ><svg class="footer-social-media-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-subheader-and-form-div">
        <h2 class="footer-subheader">
          Transforming your
          <span class="footer-subheader-accent">body</span> shape with us
        </h2>
        <form
          class="footer-form"
          action="https://energyflow.b.goit.study/api/subscription"
          method="post"
        >
          <label class="footer-email-label" for="footer-email-input"
            >Subscribe and learn about new exercises!</label
          >
          <input
            type="email"
            id="footer-email-input"
            name="email"
            placeholder="Email"
            required
            pattern="^[\w\-]+(\.[\w\-]+)*@([\w\-]+\.)+[a-zA-Z]{2,7}$"
          />
          <button class="footer-form-btn" type="submit">Send</button>
        </form>
      </div>
      <div class="footer-text-div">
        <p class="footer-text">Energy Flow. All rights reserved.</p>

        <ul class="footer-links">
          <li>
            <span class="foter-privacy-policy">Privacy Policy</span>
          </li>
          <li>
            <span class="footer-terms-of-service">Terms of Service</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
