<div class="header-wrapper">
  <div class="header-container container">
    <a class="logo" href="./index.html" aria-label="Main page">energy.flow</a>

    <nav>
      <ul class="nav-list">
        <li>
          <a class="nav-link" href="./index.html" aria-label="Home Page"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link" href="./page-2.html" aria-label="Favorites page"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <ul class="social-media-list">
      <li>
        <div class="toggle-wrapper">
          <button
            class="toggle"
            title="Toggle Dark & Light Theme"
            aria-lable="auto"
            aria-live="polite"
            value="auto"
          >
            <svg
              class="toggle-icon"
              fill="currnetColor"
              height="24"
              width="24"
              viewBox="0 0 24 24"
            >
              <circle
                class="sun"
                cx="12"
                cy="12"
                r="6"
                fill="currnetColor"
                mask="url(#moon)"
              ></circle>

              <g class="sun-beams" stroke="currentColor" stroke-linecap="round">
                <line x1="12" x2="12" y1="1" y2="3"></line>
                <line x1="12" x2="12" y1="21" y2="23"></line>
                <line x1="4.22" x2="5.64" y1="4.22" y2="5.64"></line>
                <line x1="18.36" x2="19.78" y1="18.36" y2="19.78"></line>
                <line x1="1" x2="3" y1="12" y2="12"></line>
                <line x1="21" x2="23" y1="12" y2="12"></line>
                <line x1="4.22" x2="5.64" y1="19.78" y2="18.36"></line>
                <line x1="18.36" x2="19.78" y1="5.64" y2="4.22"></line>
              </g>

              <mask class="moon" id="moon">
                <rect
                  x="0"
                  y="0"
                  width="100%"
                  height="100%"
                  fill="white"
                ></rect>
                <circle cx="24" cy="10" r="6" fill="black"></circle>
              </mask>
            </svg>
          </button>
        </div>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          aria-label="facebook link"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          aria-label="instagram link"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          aria-label="youtube link"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="burger-menu"
      type="button"
      aria-label="Open mobile menu button"
    >
      <svg class="burger-icon" width="32" height="16">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</div>

<div class="mobile-menu-wrapper">
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <a class="mobile-menu-logo" href="./index.html" aria-label="Main page"
        >energy.flow</a
      >
      <button
        class="burger-menu-close"
        type="button"
        aria-label="Close mobile menu button"
      >
        <svg class="close-icon" width="25" height="25">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav>
      <ul class="mobile-nav-list">
        <li>
          <a class="nav-link" href="./index.html" aria-label="Home page"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link" href="./page-2.html" aria-label="Favorites page"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    <div class="toggle-wrapper">
      <button
        class="toggle"
        id="toggle"
        title="Toggle Dark & Light Theme"
        aria-lable="auto"
        aria-live="polite"
        value="auto"
      >
        <svg
          class="toggle-icon"
          fill="currnetColor"
          height="24"
          width="24"
          viewBox="0 0 24 24"
        >
          <circle
            class="sun"
            cx="12"
            cy="12"
            r="6"
            fill="currnetColor"
            mask="url(#moon1)"
          ></circle>

          <g class="sun-beams" stroke="currentColor" stroke-linecap="round">
            <line x1="12" x2="12" y1="1" y2="3"></line>
            <line x1="12" x2="12" y1="21" y2="23"></line>
            <line x1="4.22" x2="5.64" y1="4.22" y2="5.64"></line>
            <line x1="18.36" x2="19.78" y1="18.36" y2="19.78"></line>
            <line x1="1" x2="3" y1="12" y2="12"></line>
            <line x1="21" x2="23" y1="12" y2="12"></line>
            <line x1="4.22" x2="5.64" y1="19.78" y2="18.36"></line>
            <line x1="18.36" x2="19.78" y1="5.64" y2="4.22"></line>
          </g>

          <mask class="moon" id="moon1">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <circle cx="24" cy="10" r="6" fill="black"></circle>
          </mask>
        </svg>
      </button>
    </div>
    <ul class="mobile-social-media-list">
      <li>
        <a
          class="social-media-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          aria-label="facebook link"
        >
          <svg class="social-media-icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          aria-label="instagram link"
        >
          <svg class="social-media-icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          aria-label="youtube link"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
