<div class="header-wrapper">
  <div class="header-container container">
    <a class="logo" href="./index.html">energy.flow</a>

    <nav>
      <ul class="nav-list">
        <li>
          <a class="nav-link link-active" href="./index.html">Home</a>
        </li>
        <li>
          <a class="nav-link" href="./page-2.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="social-media-list">
      <li>
        <a
          class="social-media-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="burger-menu" type="button">
      <svg class="burger-icon" width="32" height="16">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</div>

<div class="wrapper">
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <a class="mobile-menu-logo" href="./index.html">energy.flow</a>
      <button class="burger-menu-close" type="button">
        <svg class="close-icon" width="28" height="28">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav>
      <ul class="mobile-nav-list">
        <li>
          <a class="nav-link link-active" href="./index.html">Home</a>
        </li>
        <li><a class="nav-link" href="./page-2.html">Favorites</a></li>
      </ul>
    </nav>

    <ul class="mobile-social-media-list">
      <li>
        <a
          class="social-media-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-media-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="social-media-icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
