<section class="section hero">
    <div class="container hero-container">
        <div class="hero-img-container">
            <ul class="hero-list">
                <li class="hero-list-item">#Sport</li>
                <li class="hero-list-item">#Healthy</li>
                <li class="hero-list-item">#Workout</li>
                <li class="hero-list-item">#Diet</li>
            </ul>
        </div>
        <div class="hero-text-container">
            <h1 class="hero-title">Get <span>Body</span> in shape, Stay healthy</h1>
            <p class="hero-text">Transform your physique and embrace a healthier lifestyle with our comprehensive
                fitness
                and nutrition support.</p>
        </div>
    </div>
</section>