<section class="section hero">
    <div class="container hero-container">
        <div class="hero-img-container">
            <ul class="hero-list">
                <li class="hero-list-item" id="li1">#Sport</li>
                <li class=" hero-list-item" id="li2">#Healthy</li>
                <li class=" hero-list-item" id="li3">#Workout</li>
                <li class=" hero-list-item" id="li4">#Diet</li>
            </ul>
            <div class=" inf-wrapper is-hidden">
                <span class="wrapper-span"></span>
                <p class="wrapper-text">
                </p>
            </div>
        </div>
        <div class="hero-text-container">
            <h1 class="hero-title">Get <span>Body</span> in shape, Stay healthy</h1>
            <p class="hero-text">Transform your physique and embrace a healthier lifestyle with our comprehensive
                fitness
                and nutrition support.</p>
        </div>
    </div>
</section>