<section class="qoutePlusInfo">
  <div class="container">
    <load ="partials/qoute.html" />
    <div class="quote-favorites-info">
      <img class="quote-favorites-info-img" src="./images/desktop/favorites.jpg" alt="sport-women" srcset="./images/mobile/favorites.jpg 335w,
              ./images/mobile/favorites@2.jpg 670w,
              ./images/tablet/favorites.jpg 368w,
              ./images/tablet/favorites@2.jpg 736w,
              ./images/desktop/favorites.jpg 352w,
              ./images/desktop/favorites@2.jpg 704w"
        sizes="(min-width:1440px) 352px, (min-width: 768px) and (max-width:1440px) 368px, (max-width: 768px) 335px">
      <div class="quote-favorites-info-containterInfo">
        <svg class="quote-favorites-info-containterInfo-svg" width="20" height="20">
          <use href="./images/sprite.svg#icon-dumbbell" />
        </svg>
        <div class="quote-favorites-info-containterInfo-content">
          <h2 class="quote-favorites-info-containterInfo-title">110 min</h2>
          <p class="quote-favorites-info-containterInfo-text">Daily norm of sports</p>
        </div>
      </div>
    </div>
  </div>
</section>