<section class="section quote">
  <div class="container">
    <div class="quote-container">
      <svg class="quote-container-svg-human" width="34" height="32">
        <use href="../images/sprite.svg#icon-human"></use>
      </svg>
      <svg class="quote-container-svg-commas" width="48" height="48">
        <use href="../images/sprite.svg#icon-quotes"></use>
      </svg>
      <h2 class="quote-container-title">Quote of the day</h2>
      <p class="quote-container-text"></p>
      <p class="quote-container-autor"></p>
    </div>
    <img class="quote-img" src="../images/desktop/section-one.jpg" alt="sport-women" >
  </div>
</section>  