<section class="section qoutePlusInfo">
  <load ="partials/qoutePlusInfo.html" />
  <div class="new-class">
    <span class="info__icon-wrapper">
      <svg class="info__icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-dumbbell" />
      </svg>
    </span>
    <div class="info__content-text">
      <h2 class="info__title">110 min</h2>
      <p class="info__subtitle">Daily norm of sports</p>
      <p class="info__description">
        Daily norm of sports
      </p>
    </div>
  </div>
</section>
