<section class="section quote">
  <div class="container">
    <div class="quote-container">
      <svg class="quote-container-svg-human" >
        <use href="../images/sprite.svg#icon-human"></use>
      </svg>
      <svg class="quote-container-svg-commas" >
        <use href="../images/sprite.svg#icon-quotes"></use>
      </svg>
      <h2 class="quote-container-title">Quote of the day</h2>
      <p class="quote-container-text"></p>
      <p class="quote-container-autor"></p>
    </div>
    <img class="quote-img"  srcset="../images/mobile/section-one.jpg 335w,
                                    ../images/mobile/section-one@2.jpg 670w,
                                    ../images/tablet/section-one.jpg 736w,
                                    ../images/tablet/section-one@2.jpg 1472w,
                                    ../images/desktop/section-one.jpg 704w,
                                    ../images/desktop/section-one@2.jpg 1408w,"
    sizes="(min-width:1440px) 704px, (min-width: 768px) and (max-width:1440px) 736px,  (max-width:768px) 335px"
    src="../images/desktop/section-one.jpg" alt="sport-women" >
  </div>
</section>  