<section class="section qoutePlusInfo">
  <div class="container">
    <div class="quote-container">
      <svg class="quote-container-svg-human" >
        <use href="../images/sprite.svg#icon-human-quo"></use>
      </svg>
      <svg class="quote-container-svg-commas" >
        <use href="../images/sprite.svg#icon-quotes"></use>
      </svg>
      <h2 class="quote-container-title">Quote of the day</h2>
      <p class="quote-container-text"></p>
      <p class="quote-container-author"></p>
    </div>
  </div>
</section>  