<div id="my-modal">
    <div class="header">
    
      <button type="button" class="close" data-dismiss="modal">x</button>
    </div>
    <div class="main">
        <div class="ex-content-container">
            <h2 class="exercise-name"></h2>
            <p class="ex-current-rating">0.0</p>
            <ul class="ex-stars-list">
              <li>
                <svg class="ex-rate-icon" width="18" height="18" aria-label="rating icon">
                  <use href="./images/sprite.svg#icon-Star-1"></use>
                </svg>
              </li>
              <li>
                <svg class="ex-rate-icon" width="18" height="18" aria-label="rating icon">
                  <use href="./images/sprite.svg#icon-Star-1"></use>
                </svg>
              </li>
              <li>
                <svg class="ex-rate-icon" width="18" height="18" aria-label="rating icon">
                  <use href="./images/sprite.svg#icon-Star-1"></use>
                </svg>
              </li>
              <li>
                <svg class="ex-rate-icon" width="18" height="18" aria-label="rating icon">
                  <use href="./images/sprite.svg#icon-Star-1"></use>
                </svg>
              </li>
              <li>
                <svg class="ex-rate-icon" width="18" height="18" aria-label="rating icon">
                  <use href="/src/images/sprite.svg#icon-Star-1"></use>
                </svg>
              </li>
            </ul>
      <input type="text" name="email" placeholder="Email">
      <textarea name="comment" placeholder="Your comment"></textarea>
    </div>
    <div class="footer">
      <button type="button" class="button">Send</button>
    </div>
  </div>