body[theme='dark'] {
  background-color: var(--black-color);
}

.logo[theme='dark'] {
  color: var(--white-color);
}

.logo[theme='light'] {
  color: var(--black-color);
}

body[theme='dark'] .search-info-message-accent-color {
  color: var(--white-color);
}

body[theme='dark'] .info__content {
  background-color: var(--gray-color);
}

body[theme='dark'] .exercises-page-container {
  background-color: var(--gray-color);
}

body[theme='dark'] .pagination-exercises-box > button.active {
  color: var(--white-color);
  border-color: var(--white-color);
}

body[theme='dark'] .pagination-cards-workout-box > button.active {
  color: var(--white-color);
  border-color: var(--white-color);
}

body[theme='dark'] .hero-text-container {
  background-color: var(--gray-color);
}

body[theme='dark'] .hero-text-container span {
  color: var(--white-color);
}

body[theme='dark'] .social-media-link {
  border-color: var(--white-color);
  stroke: var(--white-color);
  fill: var(--white-color);
}

body[theme='dark'] .social-media-link:hover,
body[theme='dark'] .social-media-link:focus {
  border-color: var(--light-gray-color);
  stroke: var(--light-gray-color);
  fill: var(--light-gray-color);
}

body {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
