.cards-workout-list {
  margin-top: 40px;
  margin-bottom: 52px;
}

.card-workout-item {
  border-radius: 16px;
  padding: 16px;
  background-color: var(--white-color);
  transition: transform 0.25s var(--transition-animation);
}

.card-workout-item:hover {
  transform: scale(0.95);
}

.card-menu {
  display: flex;
  justify-content: space-between;
}

.card-menu-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-menu-workout {
  display: flex;
  width: 76px;
  height: 26px;
  align-items: center;
  justify-content: center;
  color: var(--soft-white-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  background: var(--light-gray-color);
  border-radius: 15px;
  text-transform: uppercase;
}

.card-workout-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card-workout-rating-text {
  color: var(--black-color);
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: 1.5;
}
.card-workout-rating-icon {
  fill: var(--gold-color);
}

.btn-start-workout {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--black-color);
  font-size: 14px;
  line-height: 1.28;
  border: none;
  padding: 0;
  background: none;
}

.card-workout-start-icon {
  stroke: var(--black-color);
}

.card-workout-title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 16px;
}
.card-workout-title-icon-box {
  width: 24px;
  height: 24px;
  background-color: var(--light-gray-color);
  border-radius: 50%;
}

.card-title-text {
  color: var(--black-color);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-workout-info {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 6px;
  column-gap: 16px;
  flex-wrap: wrap;
}

.card-workout-info-block {
  display: flex;
  gap: 4px;
  align-items: center;
}

.card-workout-info-list {
  color: rgba(27, 27, 27, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.card-workout-info-data {
  color: var(--black-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 375px) {
  .card-title-text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .card-workout-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .cards-workout-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 14px;
    margin-top: 55px;
    margin-bottom: 64px;
  }

  .card-workout-item {
    max-width: 313px;
  }

  .btn-start-workout {
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 8px;
    transition: box-shadow 250ms ease-in-out;
  }

  .btn-start-workout:hover,
  .btn-start-workout:focus {
    box-shadow: 4px 4px 8px 4px #61646232;
    scale: 1.1;
  }

  .card-workout-title {
    margin-bottom: 8px;
  }

  .card-title-text {
    font-size: 24px;
    line-height: 1.33;
  }

  .card-info-about {
    gap: 4px;
  }
}

@media (min-width: 1440px) {
  .cards-workout-list {
    column-gap: 20px;
    row-gap: 28px;
    margin-top: 32px;
  }
  .card-workout-item {
    min-width: 424px;
  }
}

.cards-workout-list.is-hidden {
  display: none;
}
