/* Mobile version */
.ex-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.6);
  z-index: 50;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.ex-modal {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;
  opacity: 1;
  pointer-events: auto;
  display: flex;
  align-items: center;
  overflow-y: auto;
  top: 0;
}

.modal-wrapper {
  margin: auto;
  top: -200%;
  left: -200%;
  transform: translate(0, 0) scale(0.1);
  transition: opacity 300ms ease-in-out, top 100ms ease-in-out, transform 1000ms ease-in-out;
}

.ex-modal.is-open >.modal-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(0, 0) scale(1);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-inner {
  margin: 40px 0;
  background: var(--soft-white-color);
  position: relative;
  z-index: 10;
  width: 335px;
  padding: 40px 20px;
  border-radius: 20px;
}
.favorites-list-heart-icon{
  margin-left: 8px;
}


.ex-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
}

.ex-close-btn-icon {
  stroke: var(--black-color);
  transition: stroke 0.2s var(--transition-animation);
}

.gif-ex {
  margin-bottom: 20px;
  width: 295px;
  height: 258px;
  border-radius: 12px;
    background: linear-gradient(0deg, rgba(27, 27, 27, 0.20) 0%, rgba(27, 27, 27, 0.20) 100%), url(<path-to-image>), lightgray -2.185px -6.533px / 105.185% 109.653% no-repeat;
}

.exercise-name {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.ex-stars-list {
  display: flex;
  align-items: center; 
  gap: 2px;
}

.ex-information {
  padding: 10px 0;
  border-top: 1px solid rgba(27, 27, 27, 0.2);
  border-bottom: 1px solid rgba(27, 27, 27, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
  margin-bottom: 20px;

}

.ex-block {
  flex-direction: column;
  gap: 4px;
  display: flex;
}

.ex-value {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--light-gray-color);
}

.ex-label {
  color: var(--black-color);
  font-weight: 500;
  line-height: 1.28;
  font-size: 14px;
  font-feature-settings: 'clig' off, 'liga' off;
}

.ex-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: var(--gray-color);
}

.ex-buttons-container {
  margin-top: 40px;
  flex-direction: column;
  gap: 9px;
  justify-content: end;
  display: flex;
  
}

.ex-add-favorities {
  display: flex;
  border-radius: 30px;
  background: var(--light-gray-color);
  border: none;
  color: var(--soft-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;
  transition: background-color 0.25s var(--transition-animation);
  padding: 12px 82px;
  
}

.ex-rating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid var(--black-color);
  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;
  transition: all 0.25s var(--transition-animation);
  padding: 12px 28px;

}

.ex-add-favorities:hover,
.ex-add-favorities:focus {
  background-color: var(--gray-color);
}

.ex-rating-button:focus,
.ex-rating-button:hover {
  border: 1px solid var(--light-gray-color);
  color: var(--light-gray-color);
}

.heart-svg {
  stroke: var(--soft-white-color);
  fill: transparent;
  margin-left: 6px;
}


/* Tablet version */
@media screen and (min-width: 768px) {

  .modal-inner {
    width: 732px;
    padding: 40px;
  }

  .modal-content {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }

  .ex-close-btn {
    top: 16px;
    right: 16px;
  }

  .gif-ex {
    width: 270px;
    height: 259px;
  }

  .ex-stars-list {
    margin-bottom: 16px;
  }

  .ex-information {
    gap: 16px 16px;
    margin-bottom: 16px;
    padding: 8px 0;
  }

  .ex-description {
    margin-bottom: 32px;
    height: auto;
  }
  
  .ex-buttons-container {
    flex-direction: row;
    gap: 7px;
  }
  
  .ex-add-favorities,
  .ex-rating-button {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 1.5;
  }

  .heart-svg {
    margin-left: 8px;
  }
  .ex-close-btn-icon:hover,
  .ex-close-btn-icon:focus {
    stroke: var(--light-gray-color);
  }
}

/* PC version*/
@media (min-width: 1440px) {
  .ex-modal {
    width: 732px;
  }

  .modal-content {
    gap: 40px;
  }

  .exercise-gift {
    margin-right: 40px;
  }
  
  .ex-buttons-container {
    gap: 9px;
  }
}
