.exercises-page-container {
  background-color: var(--cloud-gray-color);
  padding: 40px 20px;
  border-radius: 30px;
}
.exercises-page-title {
  color: var(--black-color);
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.04em;
}
.buttons-filter-container {
  display: flex;
  gap: 6px;
  margin-top: 20px;
}
.buttons-filter-container button {
  color: var(--black-color);
  font-size: 12px;
  padding: 5px 10px;
  line-height: 1.29;
  border-radius: 30px;
  background: var(--soft-white-color);
  border: none;
  transition: background-color 0.25s var(--transition-animation),
    color 0.25s var(--transition-animation);
}
.buttons-filter-container button.active {
  color: var(--soft-white-color);
  background-color: var(--light-gray-color);
}

/* Exercises List */
.exercises-list {
  margin-top: 40px;
  margin-bottom: 20px;
}
.exercises-list-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 232px;
  border-radius: 12px;
  border: 1px solid var(--gray-color);
  transition: transform 0.25s var(--transition-animation);
}
.exercises-list-card:hover {
  transform: scale(0.95);
}
.exercise-card-desc-name {
  text-transform: capitalize;
  color: var(--soft-white-color);
  text-align: center;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 2px;
}
.exercise-card-desc-filter {
  text-align: center;
  color: rgba(246, 246, 246, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

/* Pagination Box */
.pagination-exercises-box {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.pagination-exercises-box button {
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  transition: color 0.25s var(--transition-animation),
    border-color 0.25s var(--transition-animation);
}
.pagination-exercises-box button.active {
  color: var(--black-color);
  border-color: var(--black-color);
}

/* Media */
@media (min-width: 375px) {
  .buttons-filter-container button {
    font-size: 14px;
    padding: 7px 14px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .exercises-list-card {
    width: 295px;
  }
}

@media (max-width: 767px) {
  .exercises-list-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .exercises-page-container {
    padding: 64px 48px;
    border-radius: 50px;
  }
  .exercises-page-title {
    font-size: 44px;
    line-height: 1.09;
    letter-spacing: -0.06em;
  }
  .buttons-filter-container {
    gap: 8px;
    margin-top: 32px;
  }
  .buttons-filter-container button {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
  }
  .exercises-list {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  .exercises-list-card {
    flex-basis: calc((100% - 14px) / 2);
  }
  .exercise-card-desc-name {
    font-size: 24px;
  }
  .pagination-exercises-box button {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.06em;
  }
}

@media (min-width: 1440px) {
  .exercises-list {
    column-gap: 20px;
    row-gap: 40px;
  }
  .exercises-list-card {
    flex-basis: calc((100% - 3 * 20px) / 4);
  }
}
<<<<<<< Updated upstream
=======

.form-search-exercises-input  {
  padding:  12px 208px 12px 14px; 
  width: 273px;
} */
}





/* form - search */
/*------ exercises subcategories ---------*/
/* .exercises-subtitle {
  color: rgba(27, 27, 27, 0.50);
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1; 
letter-spacing: -0.02em;
}
.input-svg {
  position: relative;
  height: 42px;
}
.form-search-exercises {
  
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #F6F6F6;
  width: 295px;
  
  min-height: 165px;
  margin-left: auto;
  margin-right: auto;
}

.form-search-exercises-input  {
  padding: 12px 0 12px 14px;
  border-radius: 30px;
  color: #1B1B1B;
  font-size: 14px;
  line-height: 1.28; 
  border: none;
  width: 295px;
}

.form-search-exercises-icon {
  position: absolute;
  top: 12px;
  right: 12px;
} */
/*  cards  */

/* .cards-workout-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-workout-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 335px;
  min-height: 141px;
  border-radius: 16px;
  background-color: #FFF;;
  padding: 16px;

}

.card-menu {
  display: flex;
  justify-content: space-between;
}

.card-menu-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-menu-workout {
  display: flex;
  width: 76px;
  height: 26px;
  align-items: center;
  justify-content: center;
  color: #F6F6F6;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  background: #7E847F;
  border-radius: 15px;
  text-transform: uppercase;
}

.card-workout-rating {
  display: flex;
  gap: 2px;
}
.card-workout-rating-text {
  color: #1B1B1B;
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: 1.5; 
}
.card-workout-rating-icon {
  fill: #EEA10C;
}

.btn-start-workout{
  gap: 8px;
  align-items: center;
   display: inline-block;
    color: #1B1B1B;
    font-size: 14px;
    line-height: 1.28;
    border: none;
    padding: 0;
    background: none;
}

.card-workout-start-icon {
  stroke: #1B1B1B;
}

.card-workout-title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 16px;
}
.card-workout-title-icon-box {
  width: 24px;
  height: 24px;
  background-color: #7E847F;
  border-radius: 50%;
}

.card-title-text {
  color: #1B1B1B;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-workout-info {
  display: flex;
  width: 263px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 6px 16px;
  flex-wrap: wrap;
  
}

.card-workout-info-block {
  display: flex;
  gap: 4px;
  align-items: center;
}

.card-workout-info-list {
  color: rgba(27, 27, 27, 0.40);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 12px;
font-weight: 400;
line-height: 1.5; 
}

.card-workout-info-data {
  color: #1B1B1B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .cards-workout-list {
    gap: 16px;
  }

  .card-workout-item {
    width: 313px;
  }

  .btn-start-workout {
    font-size: 16px;
    line-height: 1.5;
  }

  .card-workout-title {
    margin-bottom: 8px;
  }

  .card-title-text {
    font-size: 24px;
    line-height: 1.33;
  }

  .card-info-about {
    gap: 4px;
  }
}


@media screen and (min-width: 1440px) {
  .card-workout-item {
    width: 424px;
    min-height: 141px;
  }

} */





>>>>>>> Stashed changes
