@media (min-width: 375px) {
    .favorites-container-card {
        border-radius: 30px;
        background: #E8E8E8;
        width: 335px;
        height: 1644px;
        flex-shrink: 0;
  }

  .favorites-container-title {
    color: #1B1B1B;
    font-family: "DM Sans";
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
  }

}