.header-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  padding-top: 40px;
  margin: 0 auto;
}

.container {
  width: 320px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.header-container {
  padding: 0 40px;
}

.logo {
  display: block;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
}

.nav-list,
.social-media-list {
  display: none;
}

.burger-icon {
  stroke: var(--light-gray-color);
}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0 auto;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 20px;
  border-radius: 30px;

  background-color: var(--light-gray-color);
}

.mobile-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-logo {
  color: var(--soft-white-color);
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
}

.burger-menu-close {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: transparent;
  stroke: var(--soft-white-color);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 60px;

  color: var(--soft-white-color);
  background-color: var(--light-gray-color);
}

.mobile-nav-link {
  display: block;
  border-radius: 30px;
  line-height: 1.5;
}

.mobile-active-link {
  padding: 6px 26px;
  color: var(--black-color);
  background-color: var(--white-color);
}

.mobile-social-media-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border: 1px solid rgba(246, 246, 246, 0.2);
  border-radius: 10px;

  stroke: var(--soft-white-color);
  fill: var(--soft-white-color);
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  div.header-container {
    padding: 0 50px;
  }

  .logo {
    font-size: 28px;
    line-height: 1;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    height: 52px;
    padding: 8px 16px;
    border-radius: 60px;

    color: var(--soft-white-color);
    background-color: var(--light-gray-color);
  }

  .nav-link {
    display: block;
    line-height: 1.5;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .active-link {
    padding-right: 26px;
    padding-left: 26px;
    border-radius: 30px;

    color: var(--black-color);
    background-color: var(--white-color);
  }

  .social-media-list {
    display: flex;
    gap: 12px;
  }

  .social-media-link {
    border: 1px solid rgba(126, 132, 127, 0.2);

    stroke: var(--light-gray-color);
    fill: var(--light-gray-color);

    transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-media-link:hover,
  .social-media-link:focus {
    border: 1px solid rgba(95, 101, 96, 0.2);
    stroke: var(--gray-color);
    fill: var(--gray-color);
  }

  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  div.header-container {
    padding: 0 68px;
  }
}
