.hero-img-container {
  position: relative;
  width: 335px;
  height: 387px;
  display: flex;
  align-items: end;
  padding: 0 0 20px 10px;
  background-color: #e8e8e8;
  border-radius: 30px;
  background-image: url(../images/mobile/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-img-container {
    background-image: url(../images/mobile/hero@2.jpg);
  }
}
@media (max-width: 767px) {
  .hero-img-container {
    margin-bottom: 20px;
  }
}
.hero-list {
  width: 141px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.hero-list-item {
  padding: 4px 10px;
  border-radius: 30px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  color: var(--soft-white-color);
  transition: color 0.25s var(--transition-animation);
  cursor: pointer;
  font-size: 12px;
  line-height: 1.2;
}
.hero-text-container {
  width: 335px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  padding: 0 20px 81px 20px;
  background-color: var(--white-color);
  border-radius: 30px;
}
.hero-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 0.89;
  letter-spacing: -0.02em;
}
.hero-title > span {
  color: var(--light-gray-color);
  font-style: italic;
}
.hero-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}
.inf-wrapper {
  position: absolute;
  top: 48%;
  left: 67%;
  transform: translate(-50%, -50%);
  text-align: start;
  z-index: 100;
  width: 210px;
  height: 240px;
  background-color: rgba(95, 101, 96, 0.7);
  border-radius: 30px 30px 30px 5px;
  padding: 15px;
  opacity: 1;
  transition: opacity 500ms var(--transition-animation);
}
.inf-wrapper.is-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.wrapper-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(246, 246, 246, 0.899);
}
.wrapper-span {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--soft-white-color);
}
@media (min-width: 768px) {
  .hero-container {
    display: flex;
  }
  .hero-img-container {
    width: 248px;
    height: 900px;
    padding: 0 32px 64px 20px;
    border-radius: 50px 0px 50px 50px;
    background-image: url(../images/tablet/hero.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-img-container {
      background-image: url(../images/tablet/hero@2.jpg);
    }
  }
  .hero-list {
    width: 196px;
    gap: 8px;
  }
  .hero-list-item {
    padding: 4px 15px;

    font-size: 16px;
    line-height: 1.5;
  }
  .hero-list-item:hover,
  .hero-list-item:focus {
    color: var(--light-gray-color);
  }
  .hero-text-container {
    gap: 25px;
    width: 488px;
    height: 900px;
    padding: 0 32px 192px 32px;
    border-radius: 0px 50px 50px 50px;
  }
  .hero-title {
    font-size: 98px;
    font-weight: 400;
    line-height: 0.97;
    letter-spacing: -0.02em;
  }
  .hero-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.01em;
  }
  .inf-wrapper {
    top: 70%;
    left: 56%;
  }
}
@media (min-width: 1440px) {
  .hero-img-container,
  .hero-text-container {
    width: 704px;
    height: 884px;
  }
  .hero-img-container {
    padding: 0 460px 32px 48px;
    background-image: url(../images/desktop/hero.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1158px),
    (min-resolution: 192dpi) and (min-width: 1158px),
    (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero-img-container {
      background-image: url(../images/desktop/hero@2.jpg);
    }
  }
  .hero-text-container {
    padding: 0 33px 241px 32px;
  }
  .hero-title {
    font-size: 120px;
    line-height: 0.96;
    letter-spacing: -0.02em;
  }
  .inf-wrapper {
    top: 74%;
    left: 50%;
  }
}
