.privacy-modal-overlay.is-open,
.modal-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.privacy-modal-overlay,
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.privacy {
  width: 950px;
  margin: 0;
  font-size: 1rem;
  border-radius: 0.28571429rem;
  z-index: 4;
  max-height: 80vh;
  max-width: 80vw;
  background-color: var(--white-color);
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.privacy__header {
  display: block;
  position: sticky;
  top: 0;
  margin: 0;
  font-size: 1.42857143rem;
  line-height: 1.28571429em;
  font-weight: 700;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  background-color: var(--white-color);
}

.privacy__header div {
  font-size: 1.42857143rem;
  line-height: 1.28571429em;
  font-weight: 700;
}

.privacy__content {
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  padding: 1.5rem;
  max-height: calc(80vh - 10em);
  overflow: auto;
  text-align: left;
}

.privacy__content h4 {
  margin-bottom: 14px;
  margin: calc(2rem - 0.14285714em) 0 1rem;
}

.privacy__content h4:first-child {
  margin-top: 0;
}

.privacy__content h4:last-child {
  margin: 0;
}

.privacy__content p {
  margin-bottom: 14px;
  margin: 0 0 1em;
  line-height: 1.4285em;
}
