.quote-container-svg-human{
  position: absolute;
  left: 20px;
  top: 40px;
  width: 34px;
  height: 32px;
}
.quote-container-svg-commas{
  position: absolute;
  right: 20px;
  top: 40px;
  width: 28px;
  height: 28px;
}
.quote-container{
  position: relative;
  background-color: var(--light-gray-color);
  border-radius: 50px;
  padding: 42px 20px 40px 66px;
}
.quote-container-title{
  font-feature-settings: 'clig' off, 'liga' off;
  color: var(--soft-white-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4; 
  margin-bottom: 14px;
}
.quote-container-text{
  margin-bottom: 14px;
  color: rgba(246, 246, 246, 0.60);
  font-size: 14px;
  line-height: 1.286;
}
.quote-container-author{
  color: var(--soft-white-color);
  font-weight: 500;
  line-height: 1.5;
}
.quote-img{
  display: flex;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .quote-container-svg-human{
    left: 80px;
    top: 64px;
  }
  .quote-img{
    border-radius: 50px;
  }
  .quote-container-svg-commas{
    right: 80px;
    top: 32px;
    width: 48px;
    height: 48px;
  }
  .quote-container-text{
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-container{
    padding: 64px 80px 64px 130px;
  }
  .quote-container-title{
    font-size: 24px;
    line-height: 1.333;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .quote-container-svg-human{
    position: absolute;
    left: 64px;
    top: 64px;

  }
  .quote-container-svg-commas{
    position: absolute;
    right: 64px;
    top: 32px;
    fill: var(--soft-white-color);
  }
  .quote-container{
    padding: 64px 64px 64px 114px;
    width: 704px;
  }
  .quote .container{
    display: flex;
  }
}


.qoutePlusInfo{
  margin: 812px;
}