/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./info.css');
@import url('./favorites.css');
@import url('./exercises.css');

:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #f6f6f6;
  color: #1b1b1b;

  background-color: #f6f6f6;
  color: #1b1b1b;

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black-color: #1b1b1b;
  --gray-color: #5f6560;
  --light-gray-color: #7e847f;
  --white-color: #ffffff;
  --soft-white-color: #f6f6f6;
  --gold-color: ##eea10c;
  --cloud-gray-color: #e8e8e8;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 20px 0 0 0;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
  .section {
    padding: 16px 0;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

